[submodule "lwip-intro/lwip"]
	path = lwip-intro/lwip
	url = git@github.com:david-cermak/esp-lwip.git
[submodule "backnet-sever/components/bacnet/bacnet-stack"]
	path = backnet-sever/components/bacnet/bacnet-stack
	url = https://github.com/bacnet-stack/bacnet-stack.git
[submodule "avahi-test/main/avahi"]
	path = avahi-test/main/avahi
	url = https://github.com/avahi/avahi.git
